{% extends 'base.html.twig' %}
{% block body %}
    
    <div class="delete_main_box">
    <div class="delete_box">
        <h1>Supprimer  {{ entity.nom }} ?</h1>

        <form action="" method="post">
            <div class="alert alert-danger">
                Voulez-vous vraiment supprimer {{ entity.nom }}? Cela supprimera également tout les plants, plantes et arrosages à l'intérieur et tout les rapports lié à ces entitées
            </div>
            <div class="form_footer">
                <button class="button">Oui</button>
                <br>    
                <a href="{{ path('homepage') }}" class="btn btn-danger">Non</a>
            </div>


            

            <input type="hidden" name="token" value="{{ csrf_token('delete' ~ entity.id) }}">
        </form>
    </div>
        
    </div>
    
   
    
    
    
    
{% endblock %}